
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/blogarticle/css/bootstrap.css') }}"/>
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/blogarticle/css/responsive.css') }}"/>
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/blogarticle/css/camera.css') }}"/>
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/blogarticle/css/style.css') }}"/>
<link rel='stylesheet' id='flexslider-css' href='{{ asset('bundles/blogarticle/css/flexslider.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='owl-carousel-css' href='{{ asset('bundles/blogarticle/css/owl.carousel.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='owl-theme-css' href='{{ asset('bundles/blogarticle/css/owl.theme.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='font-awesome-css' href='{{ asset('bundles/blogarticle/css/font-awesome.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='cherry-plugin-css' href='{{ asset('bundles/blogarticle/css/cherry-plugin.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='contact-form-7-css' href='{{ asset('bundles/blogarticle/css/styles.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='theme53261-css' href='{{ asset('bundles/blogarticle/css/main-style.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='magnific-popup-css' href='{{ asset('bundles/blogarticle/css/magnific-popup.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='options_typography_Lato-css' href='{{ asset('bundles/blogarticle/css/css.css') }}' type='text/css' media='all'/>
<link rel='stylesheet' id='options_typography_Righteous-css' href='{{ asset('bundles/blogarticle/css/css1.css') }}' type='text/css' media='all'/>

{#Галерея#}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/blogarticle/css/lightGallery.css') }}" />


<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/blogarticle/css/my.css') }}"/>
<!--[if lt IE 8]>
<div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img
            src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
            alt=""/></a>
</div>
<![endif]-->