{% extends '::base2.html.twig' %}

{% block title %}{{ post.articleTitle }}{% endblock title %}
{% block recla %}{% endblock recla %}
  {% block category %}{% endblock category %}

{% block content %}

    <script type="text/javascript">(function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
            }})();</script>
    <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=05" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>


    {{ post.articleDate| date('d/m/Y') }}
            <h2> {{ post.articleTitle | raw }}</h2>

            {{ post.articleText | raw }}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#lightgallery').lightGallery();
        });
    </script>
    <br>
    <script type="text/javascript">(function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
            }})();</script>
    <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=05" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>

<br>
    <br>
    {% if is_granted('ROLE_USER') %}
            <a class="btn" href="{{ path('blog_article_edit') }}/{{ post.articleId }}">Правка</a>
            <a class="btn" href="{{ path('blog_article_delete') }}/{{ post.articleId }}">Удалить статью</a>
    {% endif %}

{% endblock content %}